<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리조트 소식</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:insert="layouts/header :: header"></div>

<main class="main-content container mt-5">
  <h2>리조트 소식</h2>
  <ul>
    <li><a href="https://play.google.com/store/apps/details?id=com.ncsoft.hoyeon&installer=purple">2024년 9월 행사 안내</a></li>
    <li><a href="https://seoul.intercontinental.com/grandicparnas/room/PresidentialSuite">새로운 객실 패키지 출시</a></li>
  </ul>
</main>

<div th:insert="layouts/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
